body {
  box-sizing: border-box;
  background-color: GhostWhite;
}

.navbar {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: bold;
  /* border: 1px solid black; */
}
/* .navbar-brand {
  border: 1px solid black;
} */

.nav-item:hover {
  background-color: blue;
  border-radius: 30px;
}
.nav-link:hover {
  color: white !important;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.row {
  margin: 0px;
}
/* .introduction {
  margin: 0 auto;
} */
.introduction {
  width: 100%;
}
.saylani-container {
  width: 75%;
}
.introduction p {
  text-align: justify;
  font-size: 15px;
  word-spacing: 5px;
}
.monthly-work-box,
.upcoming-projects {
  background-color: DodgerBlue;
  height: auto;
  min-height: 500px;
}
.montly-work-img {
  width: 40px;
  background-color: DodgerBlue;
}

.our-objectives-img {
  width: 60px;
}

/* cards */

.card-margin {
  margin-bottom: 1.875rem;
}

.card {
  border: 0;
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid #e6e4e9;
  border-radius: 8px;
}

.card .card-header.no-border {
  border: 0;
}
.card .card-header {
  background: none;
  padding: 0 0.9375rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  min-height: 50px;
}
.card-header:first-child {
  border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}

.line-style {
  height: 2px;
  width: 50px;
  background-color: rgb(29, 148, 29);
}

.saylani-mini-card {
  background-color: rgb(233, 233, 233);
  padding: 15px;
}

.image-gallery-item {
  width: 100%;
}

.saylani-footer {
  background-color: #000000;
}
.saylani-footer .container {
  padding: 20px;
  height: 300px;
}
.saylani-footer ul li {
  color: #e6e4e9;
  font-size: 13px;
}
.saylani-footer h6 {
  color: #e6e4e9;
}

/* footer */

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.copyright-text {
  text-align: center;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: center;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

@media (max-width: 991px) {
  /* .site-footer [class^="col-"] {
    margin-bottom: 30px;
  } */
}
.item-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
  /* .img-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
  } */
  .image-gallery-item {
    /* width: 300px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

/* -------- Scroll To Top ---------- */
.scrollToTop {
  background: rgba(0, 0, 0, 0.1);
  bottom: 15px;
  display: none;
  height: 50px;
  padding: 2px;
  position: fixed;
  right: 15px;
  text-align: center;
  text-decoration: none;
  width: 50px;
  z-index: 99999;
}

.scrollToTop:hover {
  background: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
